doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css')
  title Confirmation Session - Scissors Paper Rock
header
  h1 Confirmation ouverture session!!!
  nav
    ul
      li
        a(href='./') Home
      li
        a(href='') Scores
      li
        a(href='') Credit
main
  div
    p  Bienvenue #{name}, vous êtes connecté(e) !
    p  Choisissez votre personnage :
form.formChoiceAvatar(action='/gameField' method='post')
  .rendered-form
    .formbuilder-radio-group.form-group.field-choiceAvatar
      label.formbuilder-radio-group-label(for='choiceAvatar')
        | Quel sera votre personnage
        span.formbuilder-required 
        span.tooltip-element(tooltip="Choisi l'avatar qui représentera votre personnage") ?
      .radio-group
        .formbuilder-radio
          input#choiceAvatar-0.avatarChoice(name='choiceAvatar' access='false' required='required' aria-required='true' value='Rouge' type='radio')
          label(for='choiceAvatar-0')
            | Personnage 1
            img.perso1(src='/img/Perso1Mini.png' alt='Red among Us Character')
        .formbuilder-radio
          input#choiceAvatar-1.avatarChoice(name='choiceAvatar' access='false' required='required' aria-required='true' value='Bleu' type='radio')
          label(for='choiceAvatar-1')
            | Personnage 2
            img.perso2(src='/img/Perso2Mini.png' alt='Blue among Us Character')
        .formbuilder-radio
          input#choiceAvatar-2.avatarChoice(name='choiceAvatar' access='false' required='required' aria-required='true' value='Vert' type='radio')
          label(for='choiceAvatar-2')
            | Personnage 3
            img.perso3(src='/img/Perso3Mini.png' alt='Green among Us Character')
    br
    .formbuilder-button.form-group.field-button-1645109276070
      input(type='submit' value='Jouer!')

